nav{
    font-size: 13px;
}


.login-icon .icon {
    width: 500px;
    position: relative;
    top: 10px;
    color: black;
}

.header  {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
}
.headers {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    line-height: 50px;
}

.row h1{
    font-size: 70px;
}
.row p{
    font-size: 30px;
}

.note .laptops{
    display: inline-block;
}

.row a{
    color: black;
}