<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layout.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div id="container">
    <div class="header">
        <a href="#">Logo</a>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </div>
    <span class="login-icon">
        <a class="icon" href="#"><ion-icon name="log-in-outline"></ion-icon></a>
        <a class="login" href="#">Login</a>
    </span>
    <div class="link">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>
    <div class="ads">
        <a href="#">ADS</a>
        <a href="#">ADS</a>
    </div>
    <div class="content">
        <h1>Welcome</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eum eveniet temporibus unde? Ad consectetur
            dolore perspiciatis? Delectus dolores inventore itaque nulla perspiciatis quaerat reiciendis, voluptates.
            Ducimus illum ratione sed!Lorem ipsum dolor sit amet, consectetur adipisicing elit. mmodi dicta dignissimos,
            dolorem eius eveniet explicabo, laudantium nobis officiis qui rem repellendus sunt veritatis. At debitis
            dolorem fugit in libero nisi nostrum obcaecati rerum saepe voluptatem. Adipisci consectetur cum cumque eum
            fugit modi nulla reiciendis sapiente suscipit veniam?
        </p>
        <hr><br>
        <h2>Test</h2>
        <p>Lorem ipsum...</p>
    </div>
    <div class="footer">
        <p>Footer Text</p>
    </div>
</div>
</body>
</html>